
.tweet{
    border: 10px solid black;
    width: 20%;
    text-align: center;
    background-color:grey;
    
}

.tweet-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

 
